<div>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">

    <br />

    <style type="text/css">

    </style>
    <table class="tg">
      <tbody>
        <tr>
          <td class="tg-0lax">
            <mat-form-field>
              <mat-label>Order Id</mat-label>
              <input matInput type="text" class="fortextbox" name="orderId" placeholder="orderId"
                formControlName="orderId">
            </mat-form-field>
          </td>

        </tr>
        <tr>
          <td class="tg-0lax">
            <mat-form-field>
              <mat-label>Order Status</mat-label>
              <mat-select formControlName="orderStatus">
                <mat-option></mat-option>
                <mat-option *ngFor="let i of statusList" [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>

        </tr>
        <tr>
          <td class="tg-0lax">
            <mat-form-field>
              <mat-label>Order Date From</mat-label>
              <input matInput [matDatepicker]="orderDateFrom" formControlName="orderDateFrom" name="orderDateFrom"
                placeholder="yyyy-MM-dd">
              <mat-datepicker-toggle matSuffix [for]="orderDateFrom"></mat-datepicker-toggle>
              <mat-datepicker #orderDateFrom></mat-datepicker>
            </mat-form-field>
          </td>
          <td class="tg-0lax">
            <mat-form-field>
              <mat-label>Order Date To</mat-label>
              <input matInput [matDatepicker]="orderDateTo" formControlName="orderDateTo" name="orderDateTo"
                placeholder="yyyy-MM-dd">
              <mat-datepicker-toggle matSuffix [for]="orderDateTo"></mat-datepicker-toggle>
              <mat-datepicker #orderDateTo></mat-datepicker>
            </mat-form-field>
          </td>

        </tr>
        <tr>
          <td class="tg-0lax">
            <input type="submit" class="forsubmit" value="Search">
          </td>
          <td class="tg-0lax">
            <button mat-raised-button (click)="formdata.reset()">Reset</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>



    <div>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Avatar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of myData">
            <td>{{file.first_name}}</td>
            <td>{{file.last_name}}</td>
            <td>{{file.email}}</td>
            <td>{{file.avatar}}</td>
          </tr>
        </tbody>
      </table>
    </div>



  </form>
</div>